/*  '*' is styling that applies to the whole application */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* background color of the entire body */
body {
    background-color: #d9dcd6;
}
/* all 'a' elements will have white text */
a {
    color: #ffffff;
    text-decoration: none;
}
/* all 'p' elements will have the same sized font */
p {
    font-size: 16px;
}


header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* this sets only the h1 element within the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* this specifically targets the part with the seo id within the headers h1 */
header h1 #seo {
    color: #d9dcd6;
}
/* # is how we target an id in CSS */
#NavigationBar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#NavigationBar ul {
    list-style-type: none;
}
/* styling each list item in this unordered list */
#NavigationBar ul li {
    display: inline-block;
    margin-left: 25px;
}


#Background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
#content img {
    max-height: 200px;
}
#content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*  . allows us to target a class */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.service-type {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
#benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* target all h3 elements */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-type {
    margin-bottom: 32px;
    color: #ffffff;
}


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

